{% extends "partials/base.html" %}
{% load static %}

{% block content %}

<main class="main single-page">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="{% url 'homeapp:home' %}" rel="nofollow">Home</a>
                <span></span> Pages
                <span></span> About us
            </div>
        </div>
    </div>
    <section class="section-padding">
        <div class="container pt-25">
            <div class="row">
                <div class="col-lg-6 align-self-center mb-lg-0 mb-4">
                    <h6 class="mt-0 mb-15 text-uppercase font-sm text-brand wow fadeIn animated">Our Company</h6>
                    <h1 class="font-heading mb-40">
                        We are Building The Destination For Getting Things Done
                    </h1>
                    <p>Our vision is to become the most trusted and innovative platform where people come not just to shop, but to experience excellence — a place where convenience meets quality. We aim to revolutionize the way individuals and businesses connect with products and services by consistently delivering value, fostering sustainability, embracing technology, and putting our customers at the heart of everything we do. </p>
                    <p>Our goal is to lead with integrity, grow with purpose, and inspire progress in every community we serve. </p>
                </div>
                <div class="col-lg-6">
                    <img src="{% static '/assets/imgs/page/about-1.png' %}" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="team" class="pt-25 wow fadeIn animated">
        <div class="container">
            <div class="row mb-50 align-items-center">
                <div class="col-md-6">
                    <h6 class="mt-0 mb-15 text-uppercase font-sm text-brand wow fadeIn animated">Our Team</h6>
                    <h2 class="mb-15 wow fadeIn animated">Top team of experts</h2>
                    <p class="text-grey-3 wow fadeIn animated">Our team believes in the power of collaboration, integrity, and innovation. We are driven by a shared commitment to deliver excellence in everything we do —
                         from the smallest detail to the biggest decision. We value transparency, continuous learning, and taking ownership of our work. We believe that success is not just measured by results, 
                         but by the positive impact we create for our customers, our community, and each other. Trust, respect, and a passion for solving real problems are at the core of our team culture, and we grow stronger by embracing challenges together.</p>
                </div>
           
            </div>
            <div class="position-relative">
                <div class="row wow fadeIn animated">
                    <div class="col-lg-3 col-md-6">
                        <div class="blog-card border-radius-10 overflow-hidden text-center">
                            <img src="{% static 'assets/imgs/page/avatar-1.jpg' %}" alt="" class="border-radius-10 mb-30 hover-up">
                            <h4 class="fw-500 mb-0">Patric Adams</h4>
                            <p class="fw-400 text-brand mb-10">CEO & Co-Founder</p>

                        </div>
                    </div>
                    <!--col-->
                    <div class="col-lg-3 col-md-6">
                        <div class="blog-card border-radius-10 overflow-hidden text-center">
                            <img src="{% static 'assets/imgs/page/avatar-2.jpg' %}" alt="" class="border-radius-10 mb-30 hover-up">
                            <h4 class="fw-500 mb-0">Dilan Specter</h4>
                            <p class="fw-400 text-brand mb-10">Head Engineer</p>

                        </div>
                    </div>
                    <!--col-->
                    <div class="col-lg-3 col-md-6">
                        <div class="blog-card border-radius-10 overflow-hidden text-center">
                            <img src="{% static 'assets/imgs/page/avatar-3.jpg' %}" alt="" class="border-radius-10 mb-30 hover-up">
                            <h4 class="fw-500 mb-0">Tomas Baker</h4>
                            <p class="fw-400 text-brand mb-10">Senior Planner</p>
        
                        </div>
                    </div>
                    <!--col-->
                    <div class="col-lg-3 col-md-6">
                        <div class="blog-card border-radius-10 overflow-hidden text-center">
                            <img src="{% static 'assets/imgs/page/avatar-4.jpg' %}" alt="" class="border-radius-10 mb-30 hover-up">
                            <h4 class="fw-500 mb-0">Norton Mendos</h4>
                            <p class="fw-400 text-brand mb-10">Project Manager</p>
                        </div>
                    </div>
                    <!--col-->
                </div>
            </div>
        </div>
    </section>
    <section id="work" class="mt-40 pt-50 pb-50 section-border">
        <div class="container">
            <div class="row mb-50">
                <div class="col-lg-12 col-md-12 text-center">
                    <h6 class="mt-0 mb-5 text-uppercase  text-brand font-sm wow fadeIn animated">Technest Coporation</h6>
                    <h2 class="mb-15 text-grey-1 wow fadeIn animated">Our main branches<br> around the world</h2>
                    <p class="w-50 m-auto text-grey-3 wow fadeIn animated">“Driven by purpose, united by passion.”</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center mb-md-0 mb-4">
                    <img class="btn-shadow-brand hover-up border-radius-10 bg-brand-muted wow fadeIn animated" src="{% static 'assets/imgs/page/company-1.jpg' %}" alt="">
                    <h4 class="mt-30 mb-15 wow fadeIn animated">New York, USA</h4>
                    <p class="text-grey-3 wow fadeIn animated">27 Division St, New York<br>NY 10002, USA</p>
                </div>
                <div class="col-md-4 text-center mb-md-0 mb-4">
                    <img class="btn-shadow-brand hover-up border-radius-10 bg-brand-muted wow fadeIn animated" src="{% static 'assets/imgs/page/company-2.jpg' %}" alt="">
                    <h4 class="mt-30 mb-15 wow fadeIn animated">Paris, France</h4>
                    <p class="text-grey-3 wow fadeIn animated">22 Rue des Carmes<br> 75005 Paris</p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="btn-shadow-brand hover-up border-radius-10 bg-brand-muted wow fadeIn animated" src="{% static 'assets/imgs/page/company-3.jpg' %}" alt="">
                    <h4 class="mt-30 mb-15 wow fadeIn animated">Jakarta, Indonesia</h4>
                    <p class="text-grey-3 wow fadeIn animated">2476 Raya Yogyakarta,<br>89090 Indonesia</p>
                </div>
            </div>
        </div>
    </section>
    <section id="testimonials" class="section-padding">
        <div class="container pt-25">
            <div class="row mb-50">
                <div class="col-lg-12 col-md-12 text-center">
                    <h6 class="mt-0 mb-10 text-uppercase  text-brand font-sm wow fadeIn animated">some facts</h6>
                    <h2 class="mb-15 text-grey-1 wow fadeIn animated">Take a look what<br> our clients say about us</h2>
                    <p class="w-50 m-auto text-grey-3 wow fadeIn animated">Our clients are at the heart of everything we do. Their feedback reflects the trust they've placed in us and the impact we've made.
                         Through their words, we proudly share stories of satisfaction, success, and long-lasting partnerships.</p>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-4">
                    <div class="hero-card box-shadow-outer-6 wow fadeIn animated mb-30 hover-up d-flex">
                        <div class="hero-card-icon icon-left-2 hover-up ">
                            <img class="btn-shadow-brand hover-up border-radius-5 bg-brand-muted" src="{% static 'assets/imgs/page/avatar-1.jpg' %}" alt="">
                        </div>
                        <div class="pl-30">
                            <h5 class="mb-5 fw-500">
                                Aarav Menon
                            </h5>
                            <p class="font-sm text-grey-5">CEO, Zenith Retail</p>
                            <p class="text-grey-3">"Working with this team has been a game-changer for our business. Their attention to detail and commitment to delivering on time is unmatched.".</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="hero-card box-shadow-outer-6 wow fadeIn animated mb-30 hover-up d-flex">
                        <div class="hero-card-icon icon-left-2 hover-up ">
                            <img class="btn-shadow-brand hover-up border-radius-5 bg-brand-muted" src="{% static 'assets/imgs/page/avatar-3.jpg' %}" alt="">
                        </div>
                        <div class="pl-30">
                            <h5 class="mb-5 fw-500">
                                B. Gates
                            </h5>
                            <p class="font-sm text-grey-5">Adobe Jsc</p>
                            <p class="text-grey-3">"They understood our vision from day one and brought it to life beyond expectations. Professional, creative, and truly collaborative."</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="hero-card box-shadow-outer-6 wow fadeIn animated mb-30 hover-up d-flex">
                        <div class="hero-card-icon icon-left-2 hover-up ">
                            <img class="btn-shadow-brand hover-up border-radius-5 bg-brand-muted" src="{% static 'assets/imgs/page/avatar-2.jpg' %}" alt="">
                        </div>
                        <div class="pl-30">
                            <h5 class="mb-5 fw-500">
                                Rohit Nair
                            </h5>
                            <p class="font-sm text-grey-5">Founder, GreenCart India</p>
                            <p class="text-grey-3">"Their support and expertise helped us scale faster than we imagined. It's rare to find a team this reliable."</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="hero-card box-shadow-outer-6 wow fadeIn animated mb-30 hover-up d-flex">
                        <div class="hero-card-icon icon-left-2 hover-up ">
                            <img class="btn-shadow-brand hover-up border-radius-5 bg-brand-muted" src="{% static 'assets/imgs/page/avatar-4.jpg' %}" alt="">
                        </div>
                        <div class="pl-30">
                            <h5 class="mb-5 fw-500">
                                S. Naveen
                            </h5>
                            <p class="font-sm text-grey-5">Operations Manager, StyleAura</p>
                            <p class="text-grey-3">"Every project we've handled together has been smooth and successful. They feel more like a part of our own team."</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="hero-card box-shadow-outer-6 wow fadeIn animated mb-30 hover-up d-flex">
                        <div class="hero-card-icon icon-left-2 hover-up ">
                            <img class="btn-shadow-brand hover-up border-radius-5 bg-brand-muted" src="{% static 'assets/imgs/page/avatar-5.jpg' %}" alt="">
                        </div>
                        <div class="pl-30">
                            <h5 class="mb-5 fw-500">
                               M.Mukesh
                            </h5>
                            <p class="font-sm text-grey-5">Product Manager, EduBridge Solutions</p>
                            <p class="text-grey-3">"They bring smart ideas, clean execution, and proactive communication to the table. Highly recommended!"</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="hero-card box-shadow-outer-6 wow fadeIn animated mb-30 hover-up d-flex">
                        <div class="hero-card-icon icon-left-2 hover-up ">
                            <img class="btn-shadow-brand hover-up border-radius-5 bg-brand-muted" src="{% static 'assets/imgs/page/avatar-1.jpg' %}" alt="">
                        </div>
                        <div class="pl-30">
                            <h5 class="mb-5 fw-500">
                                S.R Khan
                            </h5>
                            <p class="font-sm text-grey-5">Co-founder, PetHaus</p>
                            <p class="text-grey-3">"We loved how approachable and committed they were throughout the project. They truly care about client success."</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}