{% extends "partials/base.html" %}
{% load static %}

{% block css %}

<style>
    body {
        background-image: url("{% static 'userside/assets/imgs/slider/bg.jpg' %}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .home-slider {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .single-hero-slider {
        position: relative;
        width: 80%;
        height: 500px; /* You can adjust this height */
    }

    .single-hero-slider img {
        width: 800%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .hero-slider-content-2 {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        z-index: 2;
        color: #fff;
        max-width: 500px;
    }

    .hero-slider-content-2 h2,
    .hero-slider-content-2 h3,
    .hero-slider-content-2 h4,
    .hero-slider-content-2 p {
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); /* better readability */
    }

    .slider-arrow {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);
        padding: 0 30px;
        z-index: 3;
    }

    .slider-arrow button {
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 50%;
    }
</style>

{% endblock css %}

{% block content %}

    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="{% static 'userside/assets/imgs/theme/logo.svg' %}" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        
                    </div>
                    <!-- mobile menu start -->
                    
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a  href="page-contact.html"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="page-login-register.html">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="{% static 'userside/assets/imgs/theme/icons/icon-facebook.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'userside/assets/imgs/theme/icons/icon-twitter.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'userside/assets/imgs/theme/icons/icon-instagram.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'userside/assets/imgs/theme/icons/icon-pinterest.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'userside/assets/imgs/theme/icons/icon-youtube.svg' %}" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <main class="main">
        <section class="home-slider position-relative mb-30">
            <div class="home-slide-cover bg-grey-10 mt-0">
                <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">

                    <!-- Slide 1 -->
                    <div class="single-hero-slider single-animation-wrap">
                        <img src="{% static 'userside/assets/imgs/slider/slider-3-1.jpg' %}" alt="Slide 1">
                        <div class="hero-slider-content-2">
                            <h4 class="animated" style="color:white">Trade-In Offer</h4>
                            <h3 class="animated fw-900" style="color:white">Supper Value Deals</h3>
                            <h2 class="animated fw-900 text-brand">On All Products</h2>
                            <p class="animated" style="color:cyan">Save more with coupons & up to 70% off</p>
                            <a class="animated btn btn-brush btn-brush-3" href="{% url "products:shop_list" %}" style="color:white">Shop Now</a>
                        </div>
                    </div>

                    <!-- Slide 2 -->
                    <div class="single-hero-slider single-animation-wrap">
                        <img src="{% static 'userside/assets/imgs/slider/slider-1.jpg' %}" alt="Slide 2">
                        <div class="hero-slider-content-2">
                            <h4 class="animated" style="color:white">NEW LAUNCH</h4>
                            <h3 class="animated fw-900" style="color:white">Advanced Processors</h3>
                            <h2 class="animated fw-900 text-brand" >Great Collection</h2>
                            <p class="animated" style="color:cyan">Save more with coupons & up to 20% off</p>
                            <a class="animated btn btn-brush btn-brush-1" href="{% url "products:shop_list" %}" style="color:white">Get It Now</a>
                        </div>
                    </div>

                    <!-- Slide 3 -->
                    <div class="single-hero-slider single-animation-wrap">
                        <img src="{% static 'userside/assets/imgs/slider/slider-3.jpg' %}" alt="Slide 1">
                        <div class="hero-slider-content-2">
                            <h4 class="animated" style="color:white">Upcoming Offer</h4>
                            <h3 class="animated fw-900" style="color:white">Big Deals On</h3>
                            <h2 class="animated fw-900 text-brand">Microcontrollers</h2>
                            <p class="animated" style="color:cyan">Save more with coupons & up to 30% off</p>
                            <a class="animated btn btn-brush btn-brush-3" href="{% url "products:shop_list" %}" style="color:white">Shop Now</a>
                        </div>
                    </div>
                </div>

                <!-- Arrows Placeholder -->
                <div class="slider-arrow hero-slider-1-arrow">
                    <button class="prev-slide">‹</button>
                    <button class="next-slide">›</button>
                </div>
            </div>
        </section>

        <section class="banner-2 section-padding pb-20 mb-20">
            <div class="container">
                <div class="banner-img banner-big wow fadeIn animated f-none">
                    <img style="width:100%" src="{%static "userside/assets/imgs/banner/banner-4-1.jpg" %}"  alt="">
                    <div class="banner-text d-md-block d-none">
                        <h4 class="mb-15 mt-40 text-brand">Repair Services</h4>
                        <h1 class="fw-600 mb-20" style="color:white">We're an intel<br>Authorised Service Provider</h1>
                        <a href="{% url "products:shop_list" %}" class="btn">Learn More <i class="fi-rs-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </section>
        
        <div class="container mt-4">
            <h3 class="section-title mb-20"><span>Category</span> Offers</h3>
        <div id="categoryOfferCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
            {% for offer in category_offers %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="d-flex justify-content-center">
                <div class="card text-center bg-success-subtle shadow-sm border-0" style="width: 54rem;">
                    <div class="card-body p-4">
                    <h5 class="card-title text-success-emphasis">Up to {{ offer.discount_percentage }}% off</h5>
                    <p class="card-text">On {{ offer.category.name }} products</p>
                    <a href="{% url "products:shop_list" %}" class="btn btn-success">Shop Now</a>
                    </div>
                </div>
                </div>
            </div>
            {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#categoryOfferCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#categoryOfferCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        </div>

        <section class="popular-categories section-padding mt-15 mb-20">
            <div class="container wow fadeIn animated">
                <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows"></div>
                    <div class="carausel-6-columns" id="carausel-6-columns">
                        {% for category in categories %}
                            <div class="card-1">
                                <figure class="img-hover-scale overflow-hidden" style="height: 200px; display: flex; align-items: center; justify-content: center;">
                                    <a href="{% url "products:shop_list" %}">
                                        {% if category.image %}
                                            <img src="{{ category.image.url }}" alt="{{ category.name }}" style="width: 100%; height: 100%; object-fit: cover;">
                                        {% else %}
                                            <img src="{% static 'userside/assets/imgs/shop/default-category.jpg' %}" alt="No image" style="width: 100%; height: 100%; object-fit: cover;">
                                        {% endif %}
                                    </a>
                                </figure>
                                <h5 class="text-center mt-2">
                                    <a href="{% url "products:shop_list" %}">{{ category.name }}</a> 
                                </h5>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        {% comment %} <section class="section-padding mb-20">
            <div class="container wow fadeIn animated">
                <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows"></div>
                    <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
                        <div class="product-cart-wrap small hover-up">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="shop-product-right.html">
                                        <img class="default-img" src="{% static 'userside/assets/imgs/shop/product-2-1.jpg' %}" alt="">
                                        <img class="hover-img" src="{% static 'userside/assets/imgs/shop/product-2-2.jpg' %}" alt="">
                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal">
<i class="fi-rs-eye"></i></a>
                                    <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                    <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="hot">Hot</span>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <h2><a href="shop-product-right.html">Lorem ipsum dolor</a></h2>
                                <div class="rating-result" title="90%">
                                    <span>
                                    </span>
                                </div>
                                <div class="product-price">
                                    <span>$238.85 </span>
                                    <span class="old-price">$245.8</span>
                                </div>
                            </div>
                        </div>
                        <!--End product-cart-wrap-2-->
                        <div class="product-cart-wrap small hover-up">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="shop-product-right.html">
                                        <img class="default-img" src="{% static 'userside/assets/imgs/shop/product-4-1.jpg' %}" alt="">
                                        <img class="hover-img" src="{% static 'userside/assets/imgs/shop/product-4-2.jpg' %}" alt="">
                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal">
<i class="fi-rs-eye"></i></a>
                                    <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                    <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="new">New</span>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <h2><a href="shop-product-right.html">Aliquam posuere</a></h2>
                                <div class="rating-result" title="90%">
                                    <span>
                                    </span>
                                </div>
                                <div class="product-price">
                                    <span>$173.85 </span>
                                    <span class="old-price">$185.8</span>
                                </div>
                            </div>
                        </div>
                        <!--End product-cart-wrap-2-->
                        <div class="product-cart-wrap small hover-up">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="shop-product-right.html">
                                        <img class="default-img" src="{% static 'userside/assets/imgs/shop/product-15-1.jpg' %}" alt="">
                                        <img class="hover-img" src="{% static 'userside/assets/imgs/shop/product-15-2.jpg' %}" alt="">
                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal">
<i class="fi-rs-eye"></i></a>
                                    <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                    <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="sale">Sale</span>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <h2><a href="shop-product-right.html">Sed dapibus orci</a></h2>
                                <div class="rating-result" title="90%">
                                    <span>
                                    </span>
                                </div>
                                <div class="product-price">
                                    <span>$215.85 </span>
                                    <span class="old-price">$235.8</span>
                                </div>
                            </div>
                        </div>
                        <!--End product-cart-wrap-2-->
                        <div class="product-cart-wrap small hover-up">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="shop-product-right.html">
                                        <img class="default-img" src="{% static 'userside/assets/imgs/shop/product-3-1.jpg' %}" alt="">
                                        <img class="hover-img" src="{% static 'userside/assets/imgs/shop/product-3-2.jpg' %}" alt="">
                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal">
<i class="fi-rs-eye"></i></a>
                                    <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                    <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="hot">.33%</span>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <h2><a href="shop-product-right.html">Donec congue</a></h2>
                                <div class="rating-result" title="90%">
                                    <span>
                                    </span>
                                </div>
                                <div class="product-price">
                                    <span>$83.8 </span>
                                    <span class="old-price">$125.2</span>
                                </div>
                            </div>
                        </div>
                        <!--End product-cart-wrap-2-->
                        <div class="product-cart-wrap small hover-up">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="shop-product-right.html">
                                        <img class="default-img" src="{% static 'userside/assets/imgs/shop/product-9-1.jpg' %}" alt="">
                                        <img class="hover-img" src="{% static 'userside/assets/imgs/shop/product-9-2.jpg' %}" alt="">
                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal">
<i class="fi-rs-eye"></i></a>
                                    <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                    <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="hot">-25%</span>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <h2><a href="shop-product-right.html">Curabitur porta</a></h2>
                                <div class="rating-result" title="90%">
                                    <span>
                                    </span>
                                </div>
                                <div class="product-price">
                                    <span>$1238.85 </span>
                                    <span class="old-price">$1245.8</span>
                                </div>
                            </div>
                        </div>
                        <!--End product-cart-wrap-2-->
                        <div class="product-cart-wrap small hover-up">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="shop-product-right.html">
                                        <img class="default-img" src="{% static 'userside/assets/imgs/shop/product-7-1.jpg' %}" alt="">
                                        <img class="hover-img" src="{% static 'userside/assets/imgs/shop/product-7-2.jpg' %}" alt="">
                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal">
<i class="fi-rs-eye"></i></a>
                                    <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                    <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="new">New</span>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <h2><a href="shop-product-right.html">Praesent maximus</a></h2>
                                <div class="rating-result" title="90%">
                                    <span>
                                    </span>
                                </div>
                                <div class="product-price">
                                    <span>$123 </span>
                                    <span class="old-price">$156</span>
                                </div>
                            </div>
                        </div>
                        <!--End product-cart-wrap-2-->
                        <div class="product-cart-wrap small hover-up">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="shop-product-right.html">
                                        <img class="default-img" src="{% static 'userside/assets/imgs/shop/product-1-1.jpg' %}" alt="">
                                        <img class="hover-img" src="{% static 'userside/assets/imgs/shop/product-1-2.jpg' %}" alt="">
                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal">
<i class="fi-rs-eye"></i></a>
                                    <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                    <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <h2><a href="shop-product-right.html">Vestibulum ante</a></h2>
                                <div class="rating-result" title="90%">
                                    <span>
                                    </span>
                                </div>
                                <div class="product-price">
                                    <span>$238.85 </span>
                                    <span class="old-price">$245.8</span>
                                </div>
                            </div>
                        </div>
                        <!--End product-cart-wrap-2-->
                    </div>
                </div>
            </div>
        </section> {% endcomment %}

        <section class="banners mb-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow fadeIn animated">
                            <img src={% static 'userside/assets/imgs/banner/banner-promo2.jpg' %} alt="">
                            <div class="banner-text">
                                <span style="color:yellow">Smart Offer</span>
                                <h4 style="color:white">Save 20% on <br>Starter Kits</h4>
                                <a href="{% url "products:shop_list" %}" style="color:white">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow fadeIn animated">
                            <img src={% static 'userside/assets/imgs/banner/banner-promo3.jpg' %} alt="">
                            <div class="banner-text">
                                <span style="color:yellow">Sale off</span>
                                <h4 style="color:white">Great Brand<br>Collection</h4>
                                <a href="{% url "products:shop_list" %}" style="color:white">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-md-none d-lg-flex">
                        <div class="banner-img wow fadeIn animated  mb-sm-0">
                            <img src={% static 'userside/assets/imgs/banner/banner-promo1.jpg' %} alt="">
                            <div class="banner-text">
                                <span style="color:yellow">New Arrivals</span>
                                <h4 style="color:white">Shop Today’s <br>Deals & Offers</h4>
                                <a href="{% url "products:shop_list" %}" style="color:white">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
    </main>
    <!--End Main-->
    {% endblock content%}