{% extends 'partials/admin_base.html' %}
{% load static %}
{% block content %}
<section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order List </h2>
            </div>
            
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <form method="GET" action="">
                            <input type="text" name="search" placeholder="Search by Order ID..." class="form-control" value="{{ search_query }}">
                        </form>
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <form method="get" action="">
                            <select class="form-select" name="status" onchange="this.form.submit()">
                                <option value="Show all">Status</option>
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                                <option value="Show all">Show all</option>
                            </select>
                        </form>
                    </div>                    
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Order ID</th>
                                <th scope="col">Total</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date</th>
                                <th scope="col" class="text-end"> Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>{{ order.id }}</td>
                                <td><b>{{ order.address.name }}</b></td>
                                <td>{{ order.order_id }}</td>
                                <td>₹{{ order.total_amount }}</td>
                                <td><span class="badge rounded-pill {% if order.order_status == 'Delivered' %}alert-success{% else %}alert-danger{% endif%}">{{ order.order_status }}</span></td>
                                <td>{{ order.date }}</td>
                                <td class="text-end">
                                    <a href="{% url 'order:admin_orders_details' order.id %}" class="btn btn-md rounded font-sm">Detail</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- table-responsive //end -->
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    {% if orders.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ orders.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}{% if status_filter %}&status={{ status_filter }}{% endif %}">
                                <i class="material-icons md-chevron_left"></i>
                            </a>
                        </li>
                    {% endif %}
                    
                    {% for num in orders.paginator.page_range %}
                        {% if orders.number == num %}
                            <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}{% if search_query %}&search={{ search_query }}{% endif %}{% if status_filter %}&status={{ status_filter }}{% endif %}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    
                    {% if orders.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ orders.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}{% if status_filter %}&status={{ status_filter }}{% endif %}">
                                <i class="material-icons md-chevron_right"></i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        
    </section> <!-- content-main end// -->
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script>
                document.write(new Date().getFullYear())
                </script> ©, Evara - HTML Ecommerce Template .
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">
                    All rights reserved
                </div>
            </div>
        </div>
    </footer>

{% endblock %}